body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
input {
    width: 50vw;
    height: 8vh;
    font-size: 5vh;
    border-radius: 10px;
}
button {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 0 2vw;
}
img {
    height: 4vh;
}
h1 {
    font-size: 4vh;
}
